<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web_demo.dao.TestMapper">

    <resultMap id="BaseResultMap" type="com.example.web_demo.entity.SysRegionEntity">
        <result column="id" property="id"/>
        <result column="pid" property="pId"/>
        <result column="region_code" property="regionCode"/>
        <result column="region_name" property="regionName"/>
        <result column="p_region_code" property="pRegionCode"/>
        <result column="region_level" property="regionLevel"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="tree_code" property="treeCode"/>
        <result column="region_path" property="regionPath"/>
        <result column="region_order" property="sortNum"/>
    </resultMap>

    <select id="selectAllRecord" resultMap="BaseResultMap">
        select id,
               pid,
               region_code,
               region_name,
               p_region_code,
               region_level,
               longitude,
               latitude,
               tree_code,
               region_path,
               region_order
        from sys_region_copy
    </select>

    <select id="selectAllRecordFir" resultMap="BaseResultMap">
        select id,
               pid,
               region_code,
               region_name,
               p_region_code,
               region_level,
               longitude,
               latitude,
               tree_code,
               region_path,
               region_order
        from sys_region_copy
        where region_level = '4'
        order by region_order
    </select>

    <select id="selectAllRecordByCode" resultMap="BaseResultMap">
        select id,
               pid,
               region_code,
               region_name,
               p_region_code,
               region_level,
               longitude,
               latitude,
               tree_code,
               region_path,
               region_order
        from sys_region_copy
        where p_region_code = #{code}
        order by region_order
    </select>

    <select id="getRecordByCode" resultMap="BaseResultMap">
        select id,
               pid,
               region_code,
               region_name,
               p_region_code,
               region_level,
               longitude,
               latitude,
               tree_code,
               region_path,
               region_order
        from sys_region_copy
        where region_code = #{code}
    </select>

    <update id="updateRecord" parameterType="com.example.web_demo.entity.SysRegionEntity">
        update sys_region_copy
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="pId != null">
                pid = #{pId},
            </if>
            <if test="treeCode != null">
                tree_code = #{treeCode},
            </if>
            <if test="regionPath != null">
                region_path = #{regionPath},
            </if>
        </set>
        where region_code = #{regionCode}
    </update>

</mapper>
