<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="namespace002">

	<!-- resultMap是Mybatis最强大的元素，它可以将查询到的复杂数据（比如查询到几个表中数据）映射到一个结果集当中。 -->
	<!--<resultMap id="唯一的标识" type="映射的pojo对象"> <id column="表的主键字段，或者可以为查询语句中的别名字段" 
		jdbcType="字段类型" property="映射pojo对象的主键属性" /> <result column="表的一个字段（可以为任意表的一个字段）" 
		jdbcType="字段类型" property="映射到pojo对象的一个属性（须为type定义的pojo对象中的一个属性）" /> <association 
		property="pojo的一个对象属性" javaType="pojo关联的pojo对象"> <id column="关联pojo对象对应表的主键字段" 
		jdbcType="字段类型" property="关联pojo对象的主席属性" /> <result column="任意表的字段" jdbcType="字段类型" 
		property="关联pojo对象的属性" /> </association> 集合中的property须为oftype定义的pojo对象的属性 
		<collection property="pojo的集合属性" ofType="集合中的pojo对象"> <id column="集合中pojo对象对应的表的主键字段" 
		jdbcType="字段类型" property="集合中pojo对象的主键属性" /> <result column="可以为任意表的字段" jdbcType="字段类型" 
		property="集合中的pojo对象的属性" /> </collection> </resultMap> -->

	<resultMap id="baseResultMap" type="com.intest.mybatis.TShopSku">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="SKU_NAME" jdbcType="VARCHAR" property="skuName" />
		<result column="CATEGORY_ID" jdbcType="BIGINT" property="categoryId" />
	</resultMap>

	<resultMap id="basePlusResultMap" type="com.intest.mybatis.TShopSku">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="SKU_NAME" jdbcType="VARCHAR" property="skuName" />
		<result column="CATEGORY_ID" jdbcType="BIGINT" property="categoryId" />
		<collection property="attributes" ofType="com.intest.mybatis.TShopAttribute">
			<id column="AttributeID" jdbcType="BIGINT" property="id" />
			<result column="Attribute_NAME" jdbcType="VARCHAR" property="attributeName" />
		</collection>
	</resultMap>

	<select id="getById1" resultMap="baseResultMap">
		select
		s.ID,s.SKU_NAME,s.CATEGORY_ID
		from t_shop_sku s
		where s.ID =
		#{id,jdbcType =BIGINT};
	</select>

	<select id="getById2" resultMap="basePlusResultMap">
		select
		s.ID,s.SKU_NAME,s.CATEGORY_ID,a.ID,a.ATTRIBUTE_NAME
		from t_shop_sku
		s,t_shop_attribute a
		where s.ID =a.SKU_ID and s.ID = #{id,jdbcType
		=BIGINT};
	</select>

</mapper>




