<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intest.mybatis2.dao.TestMapper">

    <resultMap id="BaseResultMap" type="com.intest.mybatis2.entity.DbcMd5RecordEntity">
        <id column="DBCID" jdbcType="INTEGER" javaType="int" property="dbcId"/>
        <result column="MD5CODE" jdbcType="VARCHAR" javaType="string" property="md5"/>
        <result column="FILENAME" jdbcType="VARCHAR" property="fileName"/>
        <result column="FULLDBCNAME" jdbcType="VARCHAR" property="fullName"/>
        <!--<result column="CREATETIME" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" property="createTime"/>-->
        <result column="CREATETIME" jdbcType="DATE" property="createTime"/>
        <result column="VARIABLESCOUNT" jdbcType="INTEGER" property="variablesCount"/>
    </resultMap>

    <sql id="BaseColumnList">
        DBCID, MD5CODE, FILENAME, FULLDBCNAME, CREATETIME, VARIABLESCOUNT
-- 少的属性结果会为null
--      DBCID, MD5CODE, FILENAME, FULLDBCNAME, VARIABLESCOUNT
    </sql>

    <select id="selectFinishedDbcRecord" resultType="java.lang.String">
        SELECT MD5CODE
        FROM incom_dbcmd5record IDC,incom_dbcvariables IDV
        WHERE IDV.dbcid = IDC.dbcid
        GROUP BY MD5CODE,VARIABLESCOUNT
        HAVING SUM(IDV.serial)= ((1+variablescount)*variablescount/2)
    </select>

    <select id="selectByMd5" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM incom_dbcmd5record
        WHERE MD5CODE = #{md5,jdbcType=VARCHAR}
    </select>

    <select id="selectByMd52" parameterType="java.lang.String"
            resultType="com.intest.mybatis2.entity.DbcMd5RecordEntity">
        SELECT
        DBCID, MD5CODE md5, FILENAME, FULLDBCNAME, CREATETIME, VARIABLESCOUNT
        FROM incom_dbcmd5record
        WHERE MD5CODE = #{md5,jdbcType=VARCHAR}
    </select>

    <select id="selectByMd53" parameterType="java.lang.String"
            resultType="com.intest.mybatis2.entity.DbcMd5RecordEntity">
        SELECT * FROM incom_dbcmd5record WHERE MD5CODE LIKE "%${value}%"
    </select>

</mapper>
